In [1]:
import pandas as pd
import numpy as np


df = pd.read_excel('C:/Users/Olexandr Polum_ya/Desktop/KHPI/Python/En_In.xls')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Environmental Indicators: Energy,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,Last update: December 2015
...,...,...,...,...,...,...
277,NaN,… denotes no data available.,NaN,NaN,NaN,NaN
278,NaN,NaN,NaN,NaN,NaN,NaN
279,NaN,Data Quality:,NaN,NaN,NaN,NaN
280,NaN,The data are compiled primarily from the annua...,NaN,NaN,NaN,NaN
281,NaN,"For more information, visit http://unstats.un....",NaN,NaN,NaN,NaN

In [2]:
df.drop(df.columns[0:2], axis=1, inplace=True)
df = df[17:244]
df

                    Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
17                 Afghanistan        321         10   78.66928
18                     Albania        102         35        100
19                     Algeria       1959         51    0.55101
20              American Samoa        ...        ...   0.641026
21                     Andorra          9        121   88.69565
..                         ...        ...        ...        ...
239                   Viet Nam       2554         28   45.32152
240  Wallis and Futuna Islands          0         26          0
241                      Yemen        344         13          0
242                     Zambia        400         26   99.71467
243                   Zimbabwe        480         32   52.53612

[227 rows x 4 columns]

In [3]:
df = df.rename(columns={'Unnamed: 2': 'Country', 'Unnamed: 3': 'Energy Supply','Unnamed: 4': 'Energy Supply per Capita','Unnamed: 5': '% Renewable'})
df.reset_index(drop=True, inplace=True)
df

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321,10,78.66928
1,Albania,102,35,100
2,Algeria,1959,51,0.55101
3,American Samoa,...,...,0.641026
4,Andorra,9,121,88.69565
...,...,...,...,...
222,Viet Nam,2554,28,45.32152
223,Wallis and Futuna Islands,0,26,0
224,Yemen,344,13,0
225,Zambia,400,26,99.71467
226,Zimbabwe,480,32,52.53612

In [4]:
df['Energy Supply'][df['Energy Supply'] == '...'] = np.NaN
df.loc[0:, 'Energy Supply'] *= 1000000
df

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10,78.66928
1,Albania,102000000,35,100
2,Algeria,1959000000,51,0.55101
3,American Samoa,NaN,...,0.641026
4,Andorra,9000000,121,88.69565
...,...,...,...,...
222,Viet Nam,2554000000,28,45.32152
223,Wallis and Futuna Islands,0,26,0
224,Yemen,344000000,13,0
225,Zambia,400000000,26,99.71467
226,Zimbabwe,480000000,32,52.53612

In [5]:
df['Country'] = df['Country'].str.replace(r"\s*\([^()]*\)", "", regex=True).str.strip()
df['Country'] = df['Country'].str.replace(r"\d+", "", regex=True)
df['Country'] = df['Country'].str.replace('Republic of Korea', 'South Korea')
df['Country'] = df['Country'].str.replace('United States of America', 'United States')
df['Country'] = df['Country'].str.replace('United Kingdom of Great Britain and Northern Ireland', 'United Kingdom')
df['Country'] = df['Country'].str.replace('China, Hong Kong Special Administrative Region', 'Hong Kong')
df.loc[df['Country'].isin(['South Korea', 'United States', 'Bolivia'])]

           Country Energy Supply Energy Supply per Capita % Renewable
24         Bolivia     336000000                       32    31.47712
164    South Korea   11007000000                      221    2.279353
216  United States   90838000000                      286    11.57098

In [6]:
GPD = pd.read_csv('C:/Users/Olexandr Polum_ya/Desktop/KHPI/Python/gpd.csv', skiprows = 4)
GPD = GPD.rename(columns={'Country Name': 'Country'})
GPD.loc[:, 'Country'].replace({
    "Korea, Rep.": "South Korea",
    "Iran, Islamic Rep.": "Iran",
    "Hong Kong SAR, China": "Hong Kong"},inplace = True)
GPD[(GPD['Country'] == "South Korea") | (GPD['Country'] == "Iran") | (GPD['Country'] == "Hong Kong")]

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
93,Hong Kong,HKG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,1.764691e+10,...,2.019164e+11,2.149698e+11,2.195440e+11,2.141452e+11,2.286377e+11,2.396459e+11,2.437206e+11,2.512081e+11,2.577757e+11,2.638606e+11
109,Iran,IRN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,5.500820e+10,6.072406e+10,6.552689e+10,7.014134e+10,7.608598e+10,8.904776e+10,...,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
123,South Korea,KOR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.757696e+10,2.893825e+10,2.964966e+10,3.247578e+10,3.493136e+10,3.674434e+10,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12

In [7]:
df2 = pd.read_excel('C:/Users/Olexandr Polum_ya/Desktop/KHPI/Python/scimagojr.xlsx')
df2

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
...,...,...,...,...,...,...,...,...
186,187,Guyana,1,1,0,0,0.00,0
187,188,Christmas Island,1,1,0,0,0.00,0
188,189,Reunion,1,1,2,1,2.00,1
189,190,Saint Lucia,1,1,0,0,0.00,0
190,191,Mauritania,1,1,1,0,1.00,1

In [8]:
df2 = df2[df2['Rank'] <= 15]
GPD = GPD[['Country','2006','2007','2008','2009','2010','2011', '2012', '2013','2014','2015']]
df_all = pd.merge(df2, df)
df_all = pd.merge(df_all, GPD)
df_all.set_index('Country', inplace=True)
df_all

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,90838000000,286,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,10431000000,296,61.94543,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,13261000000,165,17.90153,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,33195000000,26,14.96908,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,10597000000,166,17.02028,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,11007000000,221,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6530000000,109,33.66723,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4923000000,106,37.96859,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9172000000,119,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5386000000,231,11.81081,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,12149000000,59,69.64803,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [9]:
def task_eight():
    eyears = df_all[['2006','2007','2008','2009','2010','2011', '2012', '2013','2014','2015']]
    return eyears.mean(axis=1).sort_values(ascending=False)
task_eight()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

In [10]:
def task_nine():
    country_task = task_eight()
    i = country_task.index[4]
    return i, abs(df_all.loc[i, '2006'] - df_all.loc[i, '2015'])
task_nine()

('France', 153345695364.24023)

In [11]:
def task_ten():
    df_all['% Renewable'] = pd.to_numeric(df_all['% Renewable'])
    i = df_all['% Renewable'].argmax()
    return df_all.iloc[i].name, df_all['% Renewable'].max()

task_ten()

('Brazil', 69.64803)

In [12]:
def task_eleven():
    people = df_all['Energy Supply'] / df_all['Energy Supply per Capita']
    people.sort_values(ascending=False, inplace=True)
    return people.index[5], people.iloc[5]
task_eleven()

('Japan', 127409395.97315437)

In [13]:
def task_twelve():
    people = df_all['Energy Supply'] / df_all['Energy Supply per Capita']
    df_people = df_all['Citable documents'] / people
    return df_people.astype('float64').corr(df_all['Energy Supply per Capita'].astype('float64'))
task_twelve()

0.7940010435442946

In [19]:
def task_thirteen():
    medin = df_all['% Renewable'].median()
    task_df = df_all.copy()
    task_df['Median'] = task_df.apply(lambda x: 1 if x["% Renewable"] >= medin else 0, axis=1)
    task_df.sort_values('Rank', ascending=True, inplace= True)
    return task_df['Median'].rename()
task_thirteen()

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
dtype: int64

In [15]:
def task_forteen():
    ContinentDict = {'China':'Asia',
    'United States':'North America',
    'Japan':'Asia',
    'United Kingdom':'Europe',
    'Russian Federation':'Europe',
    'Canada':'North America',
    'Germany':'Europe',
    'India':'Asia',
    'France':'Europe',
    'South Korea':'Asia',
    'Italy':'Europe',
    'Spain':'Europe',
    'Iran':'Asia',
    'Australia':'Australia',
    'Brazil':'South America'}
    task_df = df_all.copy()
    task_df['People'] = task_df['Energy Supply'] / task_df['Energy Supply per Capita']
    country_df = pd.DataFrame(columns=['Continent', 'size', 'sum', 'mean', 'std'])
    for key, value in task_df.groupby(ContinentDict):
        country_df.loc[key] = [key, len(value), value['People'].sum(),value['People'].mean(),value['People'].std()]
    country_df.set_index('Continent', inplace=True)
    return country_df
task_forteen()

               size           sum          mean           std
Continent
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN

In [23]:
import plotly.express as px
ContinentDict = {'China':'Asia',
                 'United States':'North America',
                 'Japan':'Asia',
                 'United Kingdom':'Europe',
    'Russian Federation':'Europe',
    'Canada':'North America',
    'Germany':'Europe',
    'India':'Asia',
    'France':'Europe',
    'South Korea':'Asia',
    'Italy':'Europe',
    'Spain':'Europe',
    'Iran':'Asia',
    'Australia':'Australia',
    'Brazil':'South America'}
task_df = df_all[['% Renewable', 'Rank', '2015']].copy()
task_df.loc['Iran', '2015'] = 0
task_df['Continent'] = task_df.apply(lambda x: ContinentDict[x.name], axis=1)
graphic = px.scatter(task_df, x='Rank', y='% Renewable', size='2015', color='Continent', size_max=50, text=task_df.index)
graphic.show()