In [ ]:
import pandas as pd
import numpy as np


df = pd.read_excel('C:/Users/Olexandr Polum_ya/Desktop/KHPI/Python/En_In.xls')
df

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df.drop(df.columns[0], axis=1, inplace=True)
df.drop(df.columns[0], axis=1, inplace=True)
df = df[17:244]
df

                    Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
17                 Afghanistan        321         10   78.66928
18                     Albania        102         35        100
19                     Algeria       1959         51    0.55101
20              American Samoa        ...        ...   0.641026
21                     Andorra          9        121   88.69565
..                         ...        ...        ...        ...
239                   Viet Nam       2554         28   45.32152
240  Wallis and Futuna Islands          0         26          0
241                      Yemen        344         13          0
242                     Zambia        400         26   99.71467
243                   Zimbabwe        480         32   52.53612

[227 rows x 4 columns]

In [ ]:
df = df.rename(columns={'Unnamed: 2': 'Country', 'Unnamed: 3': 'Energy Supply','Unnamed: 4': 'Energy Supply per Capita','Unnamed: 5': '% Renewable'})
df.reset_index(drop=True, inplace=True)
df

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321,10,78.66928
1,Albania,102,35,100
2,Algeria,1959,51,0.55101
3,American Samoa,...,...,0.641026
4,Andorra,9,121,88.69565
...,...,...,...,...
222,Viet Nam,2554,28,45.32152
223,Wallis and Futuna Islands,0,26,0
224,Yemen,344,13,0
225,Zambia,400,26,99.71467
226,Zimbabwe,480,32,52.53612

In [ ]:
df.loc[0:, 'Energy Supply'] *= 1000000


df

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10,78.66928
1,Albania,102000000,35,100
2,Algeria,1959000000,51,0.55101
3,American Samoa,NaN,...,0.641026
4,Andorra,9000000,121,88.69565
...,...,...,...,...
222,Viet Nam,2554000000,28,45.32152
223,Wallis and Futuna Islands,0,26,0
224,Yemen,344000000,13,0
225,Zambia,400000000,26,99.71467
226,Zimbabwe,480000000,32,52.53612